<div class="row">
  <div class="col-12">
    <img [src]="selectedRecipe.imgPath" [alt]="selectedRecipe.name" class="img-fluid" style="max-width: 250px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1 class="text-capitalize">{{ selectedRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="manage-recipie-btn" data-bs-toggle="dropdown" aria-expanded="false" appDropdown>
        Manage Recipie
      </button>
      <ul class="dropdown-menu" aria-labelledby="manage-recipie-btn">
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onRecipeEdit()">Edit Recipie</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipie</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-12 text-capitalize">
    {{ selectedRecipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li style="cursor: pointer;" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let ingredient of selectedRecipe.ingredients">

        {{ ingredient.ingName }} - ({{ ingredient.ingAmount }})
      </li>
    </ul>
  </div>
</div>